<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>安能登录</title>
<link href="${request.contextPath}/statics/css/denglu.css" type="text/css" rel="stylesheet">
<script src="${request.contextPath}/statics/js/jquery-1.9.1.js"></script>
</head>

<body>
<div class="bg-content">
	<div class="pic-left">
    	<img src="${request.contextPath}/statics/images/banner1.jpg">
        <img src="${request.contextPath}/statics/images/banner2.jpg">
        <img src="${request.contextPath}/statics/images/banner3.jpg">
    </div>
    <div class="login-con" id="rrapp" v-cloak>
    	<img src="${request.contextPath}/statics/images/wuliu.png">
        <div class="denglu">登录</div>
        <h1> 用户名</h1>
        <input type="text" placeholder="请输入用户名" v-model="username"> 
            <h2> 密码</h2>
        <input type="password" placeholder="请输入密码" v-model="password">
        <div class="yanzheng">
        	<input type="text" placeholder="验证码" v-model="captcha" @keyup.enter="login">
            <img alt="如果看不清楚，请单击图片刷新！" class="pointer" :src="src" @click="refreshCode">
        </div>
        <div class="zhuce">
           
            <a href="#" class="zh" style="color: red;">{{errorMsg}}</a>  
            <a href="#" class="wj">忘记密码</a> 
            <div class="clearfix"></div>
        </div>
        <div class="dl" @click="login">登录</div>
    </div>
        <div class="clearfix"></div>
</div>

<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script src="${request.contextPath}/statics/libs/fastclick.min.js"></script>
<script type="text/javascript">
var vm = new Vue({
	el:'#rrapp',
	data:{
		username: '',
		password: '',
		captcha: '',
		error: false,
		errorMsg: '',
		src: 'captcha.jpg'
	},
	beforeCreate: function(){
		if(self != top){
			top.location.href = self.location.href;
		}
		$("zh").hide();
	},
	methods: {
		refreshCode: function(){
			this.src = "captcha.jpg?t=" + $.now();
		},
		login: function (event) {
			var data = "username="+vm.username+"&password="+vm.password+"&captcha="+vm.captcha;
			$.ajax({
				type: "POST",
			    url: "sys/login",
			    data: data,
			    dataType: "json",
			    success: function(result){
					if(result.code == 0){//登录成功
						parent.location.href ='index.html';
					}else{
						vm.error = true;
						vm.errorMsg = result.msg;
						$("zh").show();
						vm.refreshCode();
						
					}
				}
			});
		}
	}
});
</script>
<script>
//banner部分
//定时轮播
$(".pic-left img").hide().eq(0).show()
var x=0//计数用
function lunbo(){//轮播过程
	if(x<2){
	x=x+1
	}else{
	x=0
	}
$(".pic-left img").hide().eq(x).show()}
var dingshi = setInterval("lunbo()",2000)//每隔2秒执行lunbo
$(".pic-left").mouseenter(function(){
	clearInterval(dingshi)
}).mouseleave(function(){
	dingshi = setInterval("lunbo()",2000)
})
</script>


</body>
</html>