<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;软件介绍</h3>
        <ul>
            <!-- <li>软件所有导入数据版本支持Excel 97-2003工作表，并且不得有任何保护或者密码限制。 </li> -->
            <li>程序使用 Mysql数据库，使用方便，安装容易</li>
            <li>程序实现了数据权限的隔离，所有数据只能对应单位或者人查看，上级可查看下级。</li>
            <li>程序采用B/S结构，一次部署，多网点使用。</li>
            <li style="color: red;">程序使用当今较为主流的技术开发，建议使用谷歌浏览器、360浏览器极速模式，或者其他现代化浏览器。</li>
        </ul>
    </div>
</div>
<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script src="${request.contextPath}/statics/libs/router.js"></script>
<script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
<script src="${request.contextPath}/statics/libs/app.js"></script>
<script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
<script src="${request.contextPath}/statics/js/main.js"></script>
</body>
</html>