<!DOCTYPE html>
<html>
<head>
    <title>每日对账表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
         <div class="form-group col-sm-2"> 
                   <input type="file" id="myfile" class="form-control" name="file" placeholder="上传文件"/>
            </div>
            <a class="btn btn-primary" onclick="imports()"><i class="fa fa-cloud-upload"></i>&nbsp;上传文件</a>
			<#if shiro.hasPermission("sys:expbalanceaccount:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:expbalanceaccount:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:expbalanceaccount:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">运单号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="expBalanceAccount.waybillNumber" placeholder="运单号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">寄件人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="expBalanceAccount.sender" placeholder="寄件人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">网点</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="expBalanceAccount.branch" placeholder="网点"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">寄件时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="expBalanceAccount.sendTime" placeholder="寄件时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="expBalanceAccount.sendProvince" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">收件人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="expBalanceAccount.recipient" placeholder="收件人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">收件省份</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="expBalanceAccount.recipientProvince" placeholder="收件省份"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">揽件业务员</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="expBalanceAccount.salesman" placeholder="揽件业务员"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">月结客户名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="expBalanceAccount.customerName" placeholder="月结客户名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">月结客户手机</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="expBalanceAccount.customerPhone" placeholder="月结客户手机"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">实际重量</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="expBalanceAccount.actualWeight" placeholder="实际重量"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/expbalanceaccount.js?_${.now?long}"></script>
</body>
</html>