<!DOCTYPE html>
<html>
<head>
    <title>账单</title>
		<#include "/header.html">
<script src="${request.contextPath}/statics/js/plugins/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
             <div class="row">
	             <div class="form-group col-sm-2">
					<input type="text" class="form-control" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" id="start_dates" placeholder="开始日期">
				</div>
	             <div class="form-group col-sm-2">
					<input type="text" class="form-control" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" id="end_dates" placeholder="结束日期">
				</div>
				 <div class="form-group col-sm-2">
					<input type="text" class="form-control"   id="expcustomer_code" placeholder="客户编码">
				</div>
	            <div class="form-group col-sm-2">
					  <select class="form-control" id="type">
					 </select>
				</div>
			</div>
             <div class="row">
				<div class=" form-inline">
				 <div class="col-sm-2">
				 <label class="control-label">初期余额:</label>
					  <select class="form-control" id="exportType">
					     <option value="2">否</option>
					     <option value="1">是</option>
				     </select>
				</div> 
			   </div>
			   <#if shiro.hasPermission("sys:receivables:export")>
              <a class="btn btn-primary"  onclick="exports();"><i class="fa fa-plus"></i>&nbsp;批量导出账单</a>
			</#if>
			<#if shiro.hasPermission("sys:receivables:export")>
               <a class="btn btn-primary"  onclick="exportOne();"><i class="fa fa-plus"></i>&nbsp; 单客户导出账单</a>
			</#if>
			<#if shiro.hasPermission("sys:receivables:billlist")>
              <a class="btn btn-primary"  onclick="query();"><i class="fa fa-plus"></i>&nbsp;查询</a>
			</#if>
			<#if shiro.hasPermission("sys:receivables:billlist")>
               <a class="btn btn-primary"  onclick="querybillPayment();"><i class="fa fa-plus"></i>&nbsp; 汇总账单收支表</a>
			</#if>
			</div>
		  
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/expbills.js?_${.now?long}"></script>
<script type="text/javascript">

$(function(){
	load();
});
function load(){
	var url="sys/expcustomertype/listAll";
	$.ajax({
        type: "POST",
        url:  baseURL + url,
        contentType: "application/json",
        success: function(r){
        if(r.code === 0){
            $("#type").html("");
           	$("#type").append('<option value="">请选择客户类型</option>');	
         $.each(r.list, function(i, item){
       		 $("#type").append('<option value='+item.name+'>'+item.name+'</option>') ;
       	 });
        }else{
            alert(r.msg);
        }
	}
   });
}

function querybillPayment(){
	var start_dates = $("#start_dates").val();
	var end_dates = $("#end_dates").val();
	var type =$("#type").val();
	var expcustomer_code =$("#expcustomer_code").val();
	
	if(null==start_dates||start_dates==""){
		alert("请选择开始日期");
		return;
	}
	if(null==end_dates||end_dates==""){
		alert("请选择结束日期");
		return;
	}
	if(null==type||type==""){
		alert("请选择客户类型");
		return;
	}
	var index = layer.load(2, {
	   	  shade: [0.2,'#fff'] //0.1透明度的白色背景
	   	});
	var url="sys/expbillpayment/expbillToPayment";
	$.ajax({
        type: "POST",
        url:  baseURL + url,
        data:{start_dates:start_dates,end_dates:end_dates,type:type,expcustomer_code:expcustomer_code},
        success: function(r){
        if(r.code === 0){
        	alert(r.msg);
        	layer.close(index);
        }else{
            alert(r.msg);
            layer.close(index);
        }
	}
   });
}
</script>
</body>
</html>