<!DOCTYPE html>
<html>
<head>
    <title>客户信息</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2"> 
                   <input type="file" id="myfile" class="form-control" name="file" placeholder="上传文件"/>
            </div>
            <a class="btn btn-primary" onclick="imports()"><i class="fa fa-cloud-upload"></i>&nbsp;上传文件</a>
			<#if shiro.hasPermission("sys:expcustomer:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:expcustomer:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:expcustomer:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">客户编码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="expCustomer.code" placeholder="客户编码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">客户名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="expCustomer.name" placeholder="客户名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">客户类型</div>
                        <div class="col-sm-10">
                           <!--  <input type="text" class="form-control" v-model="expCustomer.type" placeholder="客户类型"/> -->
                            <select class="form-control" v-model="expCustomer.type">
                                   <option value="0000">请选择客户类型</option>
						         <option v-for="(item,index) in  customerType"  :value="item.name">{{ item.name }}</option>
						      </select>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">价格表名称</div>
                      
                        <div class="col-sm-10">
                           <!--  <input type="text" class="form-control" v-model="expCustomer.priceName" placeholder="价格表名称"/> -->
                             <select class="form-control" v-model="expCustomer.priceName">
                                   <option value="0000">请选择价格表名称</option>
						         <option v-for="(item,index) in  priceNameList"  :value="item.priceName">{{ item.priceName }}</option>
						      </select>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">付款客户ID</div>
                        <div class="col-sm-10">
                            <input type="text" id="paymentId" class="form-control" v-model="expCustomer.paymentId" placeholder="选择付款客户后自动添加" readonly="readonly"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">付款客户名称</div>
                        <div class="col-sm-10">
                           <!--  <input type="text" class="form-control" v-model="expCustomer.paymentName" placeholder="付款客户名称"/> -->
                             <select class="form-control" v-model="expCustomer.paymentName"  @change="changeCustomer()" id="selectCustomer">
                                   <option value="0000" code="0000">请选择付款客户名称</option>
						         <option v-for="(item,index) in  customerList" :code="item.code"  :value="item.name">{{ item.name }}</option>
						      </select>
                        </div>
                    </div>
                  <!--  <div class="form-group">
                        <div class="col-sm-2 control-label">部门ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="expCustomer.deptId" placeholder="部门ID"/>
                        </div>
                    </div> -->
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/expcustomer.js?_${.now?long}"></script>
</body>
</html>