<!DOCTYPE html>
<html>
<head>
<title>角色管理</title>
<#include "/header.html">
<script src="${request.contextPath}/statics/js/plugins/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
	<div>
		 <div class="grid-btn">
             <div class="form-group col-sm-2">
				<input type="text" class="form-control" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" id="start_dates" placeholder="选择开始日期（必须）">
			</div>
             <div class="form-group col-sm-2">
				<input type="text" class="form-control" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" id="end_dates" placeholder="选择结束日期（必选）">
			</div>
			<div class="form-group col-sm-2">
				<input type="text" class="form-control"  id="customer" placeholder="客户或客户编码">
			</div>
			<div class="form-group col-sm-2">
				 <select class="form-control" id="province">
				 </select>
			</div>
			<div class="form-group col-sm-2">
				 <select class="form-control" id="weight">
				    
				 </select>
			</div>
			<#if shiro.hasPermission("sys:grossprofit:list")>
            <a class="btn btn-primary"  onclick="query();"><i class="fa fa-plus"></i>&nbsp;按条件汇总</a>
			</#if>
        </div>
		   <div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading">毛利汇总信息</div>
			 <table class="table">
		        <thead id="sumth">
		         
		        </thead>
		        <tbody id="sumtb" >
		          
		          
		        </tbody>
		      </table>
			</div>
    </div>
    
    <script type="text/javascript">
    $(function(){
    	load();
    });
       function load(){
    	   var url="sys/sysarea/listAll"
    	     $.ajax({
                 type: "POST",
                 url:  baseURL + url,
                 contentType: "application/json",
                 success: function(r){
                     if(r.code === 0){
                    	 if(r.list==null){
                    		 $("#dateList").append('暂时没有可处理数据')  ;
                    	 }
                    	 $("#province").html("");
                    	 $("#province").append('<option value="">请选择省份</option>');
                    	 $.each(r.list, function(i, item){
                    		 $("#province").append('<option value='+item.name+'>'+item.name+'</option>') ;
                    		 });
                    	$("#weight").html("");
                    	 $("#weight").append('<option value="0">请选择重量</option>');
                    	 for(var i=1;i<21;i++){
                    		 $("#weight").append('<option value='+i+'>'+i+'公斤</option>') 
                    	 }
                     }else{
                         alert(r.msg);
                     }
                 }
             });
       }
       
       
       function query(){
    	   var index = layer.load(1, {
    		   	  shade: [0.2,'#fff'] //0.1透明度的白色背景
    		   	});
    	   var url="sys/grossprofit/sum";
    	   var customer = $("#customer").val();
    	   var province = $("#province").val();
    	   var weight = $("#weight").val();
    	   var startDates = $("#start_dates").val();
    	   var endDates = $("#end_dates").val();
    	   
    	    if(""==startDates||""==endDates){
    	        layer.close(index);
    	    	alert("汇总时间必须选择");
    	    	return;
    	    }
    	   $("#sumth").html("");
    	   var html1="<tr>";
    	   if(customer!=""){
    		   html1+="<th>客户名称</th> <th>客户编号</th>";
    	   }
           if(province!=""){
        	  html1+="<th>省份</th>";
           }
           if(weight!=""&&weight!=0){
        	  html1+="<th>重量</th>";
           }
    	   if(customer==""&&province==""&&weight==0){
    		  html1+= "<th>客户名称</th><th>客户编号</th><th>省份</th><th>重量</th>";
    	   }
    	   html1+="<th>收入金额</th><th>成本金额</th><th>面单金额</th><th>运单数</th><th>毛利金额</th>";
    	   html1+="</tr>";
    	   $("#sumth").append(html1);
    	   $.ajax({
               type: "POST",
               url:  baseURL + url,
               data: {'customer':customer,'province':province,'weight':weight,"startDates":startDates,"endDates":endDates},
               success: function(r){
            	   $("#sumtb").html("");
                   if(r.code === 0){
                	   $.each(r.list, function(i, item){
                		   var html2="<tr>";
                		   
                		   if(customer!=""){
                    		   html2+="<td>"+item.customerName+"</td> <td>"+item.customerCode+"</td>";
                    	   }
                           if(province!=""){
                        	  html2+="<td>"+province+"</td>"
                           }
                           if(weight!=""&&weight!=0){
                        	  html2+="<td>"+weight+"公斤</td>"
                           }
                    	   if(customer==""&&province==""&&weight==0){
                    		  html2+= "<td>"+item.customerName+"</td><td>"+item.customerCode+"</td><td>"+item.destinationDot+"</td><td>"+item.weight+"</td>";
                    	   }
                		   
                		   $("#sumtb").append(html2+'<td>'+item.debtorMoney+'</td><td>'+item.lenderMoney+'</td><td>'+item.baseBil+'</td><td>'+item.count+'</td><td>'+item.grossProfit+'</td>'+'</tr>');
                	   });
                  	    layer.close(index);
                   }
               }
           });
       }
    </script>
    
</body>
</html>